:root {
    --body-color: #350d71;
}


html, body {
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 112.5%;
    line-height: 1.8;
    margin: 0;
    color: #350d71;
    color: var(--body-color);
    background-color: #d6dbec;
}

main {
    flex: 0 1 auto;
}


textarea,
input {
    padding: 0.3em;
    border: solid 0.1em;
    color: currentColor;
}

textarea {
    width: 100%;
    min-height: 5em;
}

:link {
    color: #F76B1C;
    text-decoration: none;
}
:visited {
    color: #b63;
}
a:focus,
a:hover {
    color: #b63;
}
a:active {
    color: #f94;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1;
}

ul,
figure {
    margin: 0;
}

.button,
button {
    font-size: 1.1em;
    background: transparent;
    padding: 0.6em;
    border: solid 0.1em #4e7288;
    border-color: var(--color-grey-900);
    color: #4e7288;
    color: var(--color-grey-900);
    transition: all 100ms ease;
}


.button {
    display: inline-block;
}

.button[data-state="inverted"] {
    color: rgba(255,255,255, 0.8);
}

.button[data-state="inverted"]:focus,
.button[data-state="inverted"]:hover {
    color: rgba(255,255,255, 1);
}

.sticky-footer {
    display: flex;
    flex-direction: column;
}

.sticky-footer__content {
    flex: 1 0 auto;
}

.sticky-footer__footer {
    flex-shrink: 0;
}

.stack {
    --gap: 1em;
}

.stack > *:not(script):not(style) + * {
    margin-top: 1em;
    margin-top: var(--gap, 1em);
}

.stack--gap-100 {
    --gap: 0.4em;
}


.stack--gap-500 {
    --gap: 2em;
}
.stack--gap-900 {
    --gap: 4em;
}

.cluster > *{
    display: inline-block;
    margin-right: 2em;
}

.centered {
    align-items: center;
    display: flex;
    justify-content: center;

}

.wrapper {
    padding-left: 1em;
    padding-right: 1em;
    padding-inline: 1em;
}

.wrapper--full-width {
    padding-left: 0;
    padding-right: 0;
    padding-inline: 0;
}

.wrapper__inner {
    margin-left: auto;
    margin-right: auto;
    margin-inline: auto;
    max-width: 75rem;
}

.image--responsive {
    width: 100%;
    height: auto;
}
.image--small {
    width: 10em;
    height: auto;
}

.input-group > textarea,
.input-group > input {
    width: 100%;
}


.site-header {
  display: flex;
  justify-content: space-between;
}

.home__site-header {
    background-color: rgb(0, 139, 246);
}

.site-title__text {
    margin-left: 0.48em;
}

.nav-main__items {
    display: inline-block;
    display: inline-flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0 1em;
    position: relative;
    justify-content: center;
}

.nav-item {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
}

.nav-item:not(:last-child) {
  margin-right: 1em;
}

.nav-item__link {
    text-decoration: none;
    color: #15181e;
    color: var(--color-grey-900);
}
.nav-item:hover,
.nav-item:focus {
    font-style: bold;
}


.nav-item--active .nav-item__link {
    font-weight: bolder;
}



.nav-item__link:focus ~ .nav-item__cursor,
.nav-item:hover .nav-item__cursor,
.nav-item--active .nav-item__cursor {
    visibility: visible;
    transition: transform 300ms;
    transform: translateX(-50%) scaleY(1);
}


.nav-item__link:focus ~ .nav-item__cursor .cursor__inner,
.nav-item:hover .cursor__inner {
    visibility: hidden;
}

.nav-item--active .nav-item__link ~ .nav-item__cursor  .cursor__inner {
    visibility: visible;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-right: -1.5em;
    font-size: 0.8em;
    font-size: var(--font-scale-1);
}

.breadcrumbs__breadcrumb {
    margin-right: 1.5em;
}

.breadcrumbs__breadcrumb + .breadcrumbs__breadcrumb::before {
    display: inline-block;
    content: ' ';
    width: 0.35em;
    height: 0.35em;
    transform: rotate(45deg);
    border: 0.1em solid;
    border-left-width: 0;
    border-bottom-width: 0;
    margin-right: 1.35em;
}

.site-title {
  font-weight: lighter;
  padding: 0.1em 0.6em;
  text-align: center;
  display: flex;
  align-items: center;
}

.site-title > * {
  display: inline-block;
}

.site-title > *:not(:last-child) {
  margin-right: 0.3em;
}

.site-logo {
	width: 0.8em;
	height: auto;
	vertical-align: baseline;
}

.site-title__link {
    color: currentColor;
}

.site-footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #350d71;
    background-color: var(--body-color);
}

.site-footer,
.site-footer__link {
    color: #fff;
}

.form-group > *{
    display: block;
}

/* gallery */
.gallery {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

.gallery__card {
    flex: 1 0 18em;
    width: 18em;
    max-width: calc(50% - var(--gap));
}
.card {
    position: relative;
}

.card__image {
    height: auto;
    max-width: 100%;
    max-height: 80vh;
}

.card__title {
    color: #15181e;
    color: var(--color-grey-900);
    line-height: 1;
}
.card__link {

    color: var(--color-grey-900);
}
.card__link::after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.gallery {
    --gap: 3em;
}
.gallery__card {
    margin-right: 3em;
    margin-right: var(--gap);
    margin-bottom: 3em;
    margin-bottom: var(--gap);
}
/* end gallery*/

.hero {
    min-height: 70%;
    min-height: 75vh;
    text-align: center;
    /* background: rgb(0,141,246); */
    /* background: linear-gradient(0deg, rgba(0,141,246,1) 0%, rgba(170,27,198,1) 35%, rgba(227,44,44,1) 65%, rgba(243,128,0,1) 100%); */
    position: relative;
}

.hero__svg-bg {
    margin-left: -1em;
    margin-right: -1em;
    width: 100%;
}

.sheep {
    width: 4em;
    left: calc(39.2% - 2em);
    bottom: 14vh;
    position: absolute;
}

.hero__cta {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
}

.hero__message {
    color: #fff;
}

.cta {
    align-items: center;
    display: flex;
    min-height: 15%;
    min-height: 15vh;
}

.unstyled-list {
    list-style-type: none;
    padding-left: 0;
}

.pad-top-900 {
    padding-top: 4em;
}

.pad-bottom-900 {
    padding-bottom: 4em;
}




.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.hide-next + * {
    display: none;
}

@media all and (max-width: 600px) {
  .site-title__text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
  .site-title__text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }

  .hero__svg-bg {
    height: 80vh;
  }
}
